.contentbox-tip
	ol
		li 精讀文章
	ol
		li 2020/12/20
	ol
		li 3
.contentbox-tip
	ol
		li 大階升級A1 --> A2
	ol
		li 2021/1/4
	ol
		li 10
.contentbox-tip
	ol
		li 寫作練習
	ol
		li 2021/1/11
	ol
		li 5
.contentbox-tip
	ol
		li 己成功介紹 2 名朋友加入 
			span (小額訂閱閱)
	ol
		li 2021/1/22
	ol
		li 200
.contentbox-tip
	ol
		li 己成功介紹 1 名朋友成為VIP會員
			span (購買視訊課程方案)
	ol
		li 2021/1/23
	ol
		li 1600
.contentbox-tip
	ol
		li 互動學習
	ol
		li 2021/1/30
	ol
		li 30