.contentbox-tip
	ol
		li
			| 1.完成一篇精讀文章(做完理解力、聽力與克漏字測驗且皆達60分以上)，
			| 可獲得3 FUN幣。
.contentbox-tip
	ol
		li 2.完成一篇朗讀作業，可獲得5 FUN幣。
.contentbox-tip
	ol
		li 3.完成一篇寫作作業，可獲得5 FUN幣。
.contentbox-tip
	ol
		li 4.參加一次研習營，可獲得20 FUN幣。
.contentbox-tip
	ol
		li 5.	完成一次大階升級(如A1->A2、A2->B1)，可獲得300 FUN幣。