.logobox

.logobox-bonus
	height: 100%

// --------------------------------
// -- MB v
// --------------------------------
@media screen and (max-width: $bp-mb)
	.logobox
		position: relative
		height: $h-logobox-mb
		padding: 13px 5%
		font-size: 33px

	.logobox-what
		position: absolute
		width: 45px
		top: 7px
		left: 50%
		transform: translateX(-50%)
		background-color: #d8b16a
		color: #fff
		font:
			size: 22px
			weight: bold
		text-align: center
		width: 190px
		line-height: 45px
		border-radius: 6px
	// 	animation: motion 2s ease-in-out infinite 1s

	// @keyframes motion
	// 	50%
	// 		transform: translateY(10px)

@media screen and (max-width: $bp-mb) and (orientation: portrait)

@media screen and (max-width: $bp-mb) and (orientation: landscape)
	.logobox
		display: flex

// --------------------------------
// -- PC v
// --------------------------------
@media screen and (min-width: $bp-pc)
	.logobox
		// height: $h-logobox-pc
		// padding-top: 17px
		// text-align: center
		// font-size: 36px
	
	.logobox-bonus
		display: block
		margin: 0 auto

	.logobox-what
		display: none