.giftbox-item
	.giftbox-img(style='background-image: url(./images/gifts/1.jpg)')
		img(src='./images/empty_item.png')
	.giftbox-info
		//- .giftbox-title FUNDAY 學習筆記本
		.giftbox-title FUNDAY線上數位訂閱-3個月FUNDAY線上數位訂閱-3個月
		.giftbox-pricebox
			.giftbox-price 150
			button.giftbox-btn 兌換