.giftbox-item.is-empty
	//-.giftbox-imgouter
		.giftbox-img(style='background-image: url(./images/gifts/1.jpg)')
			img(src='./images/empty_item.png')
	//-.giftbox-info
		//- .giftbox-title FUNDAY 學習筆記本
		.giftbox-title FUNDAY線上數位訂閱-3個月線上數位訂閱-3個月線上數位訂閱線上數位訂閱
		.giftbox-pricebox
			.giftbox-price 
				img.giftbox-icon(src='./images/icon.svg')
				|3050 點
			button.giftbox-btn 兌換