.mgmlb
	.mgmlb-box
		.mgmlb-close
		.mgmlb-pic
			//- pic v
			.lbpic-kv(style='background-image:url(./images/gifts/7.jpg)')
				img(src='./images/empty_lb.png')
			.lbpic-box
				.lbpic-item.active(style='background-image:url(./images/gifts/7.jpg)')
					img(src='./images/empty_lb.png')
				.lbpic-item(style='background-image:url(./images/gifts/8.jpg)')
					img(src='./images/empty_lb.png')
				.lbpic-item(style='background-image:url(./images/gifts/9.jpg)')
					img(src='./images/empty_lb.png')
				.lbpic-item(style='background-image:url(./images/gifts/10.jpg)')
					img(src='./images/empty_lb.png')
		.mgmlb-info
			//- product v
			.lbproduct.is-lbblock
				.lbproduct-title
				.lbproduct-pricebox
					.lbproduct-price
						img.giftbox-icon(src='./images/icon.svg')
						|3050 點
			//- talk v
			.lbtalk.is-lbblock
				.lbtalk-item 規格：有機原棉織造 無化學添加  柔細舒適  吸水性佳
				.lbtalk-item 材質：100% 有機棉 台灣織造
				.lbtalk-item 尺寸：76cm*148cm
			//- info
			.lbinfo.is-lbblock
				.lbinfo-tip 請正確填寫以下收件人相關資訊
				.lbinfo-iptbox
					.lbinfo-name 收件人姓名
					input.lbinfo-ipt(type='text' placeholder='*必填')
				.lbinfo-iptbox
					.lbinfo-name 收件人電話
					input.lbinfo-ipt(type='text' placeholder='*必填')
				.lbinfo-iptbox
					.lbinfo-name 郵遞區號及地址
					input.lbinfo-ipt(type='text' placeholder='*必填')
			//- send v
			button.lbbtn 立即兌換