.mgmlb, .mgmlb-box
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto

.mgmlb
	background-color: rgba(0,0,0,.7)
	z-index: 2
	display: none

.mgmlb-box
	background-color: #fff
	width: 500px
	height: 350px