$w-zipcode: 130px
$w-zipcode-selected: 40px

.giftbox-icon
	border-radius: 50%
	border: solid 1px $c5
	margin-right: 3px
	height: 22px
	
.mgmlb, .mgmlb-box
	margin: 0 auto

// .mgmlb
// 	background-color: rgba(0,0,0,.7)
// 	z-index: 2
// 	display: none

.mgmlb-box
	border-radius: 7px
	z-index: 3
	// display: flex

.mgmlb-bread
	display: flex
	align-items: center
	p
		font:
			size: 16px
		color: $c5

	span
		font:
			size: 16px
		color: #333
		// padding: 0 5px
		text-align: center
		width: $w-bread-arrow

// =================================
.mgmlb-close
	background-color: #999
	color: #fff
	position: fixed
	width: 40px
	height: 40px
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	font:
		size: 24px
	cursor: pointer
	z-index: 1
	transition: .3s
	&:hover
		background-color: #333
		transform: rotate(360deg)

// =================================
.mgmlb-pic

.lbpic-kv

.lbpic-box

.lbpic-item
	cursor: pointer
	// background-color: #fbfbfb
	&.active
		border: solid 2px #{$c2}
	&.active, &.pic-empty
		cursor: default

.lbpic-kv, .lbpic-item
	background:
		size: cover
		position: center
	font-size: 0
	img
		width: 100%

// =================================
.mgmlb-info


// --------------------------------
.is-lbblock

// --------------------------------
.lbproduct

.lbproduct-title
	font:
		weight: bold

.lbproduct-pricebox

.lbproduct-price
	display: flex
	align-items: center
	font:
		size: 24px
		weight: bold
	color: $c5

// --------------------------------
.lbtalk
	color: $c-txt
	border-bottom: solid 1px #b3b3b3

.lbtalk-item
	&:last-child
		margin: 0!important

// --------------------------------
.lbinfo
	& > *
		color: $c-txt2

.lbinfo-tip
	font:
		size: 16px
		weight: bold

.lbinfo-iptbox
	// &.is-zipcode
	// 	height: auto

.lbinfo-ipt
	box-sizing: border-box
// --------------------------------
.zipbox
	font-size: 0

.zipbox-block
	display: flex
	border-radius: 0 3px 3px 0

	select
		font-size: 16px
		border-color: #767676
		background-color: transparent
		width: 50%
		&:first-child
			border-right: none
			border-radius: 3px 0 0 3px
	& + .zipbox-block

.zipbox-code
	border: solid 1px #767676
	border-radius: 3px 0 0 3px
	width: $w-zipcode
	font:
		size: 16px
	border-right: none
	text-align: center
	transition: width .3s

.zipbox-ipt
	box-sizing: border-box
	border: solid 1px #767676
	width: calc( 100% - #{$w-zipcode} )
	transition: width .3s

.zipbox-code.is-selected
	width: $w-zipcode-selected
	& + .zipbox-ipt
		width: calc( 100% - #{$w-zipcode-selected} )

// --------------------------------
.is-bank-select
	border-color: #767676
	font-size: 16px

// --------------------------------
.is-bank-select
	width: 100%
	height: 46px

// --------------------------------
.lbbtn
	width: 150px
	height: 40px
	border-radius: 3px
	display: flex
	align-items: center
	justify-content: center
	background-color: $c5
	color: #fff
	font-size: 22px
	border: none
	margin: 0 auto
	cursor: pointer
	transition: .3s
	text-decoration: none

// --------------------------------
.filesbox
	.lbinfo-tip

	.lbinfo-iptbox

	.lbinfo-name

	.lbinfo-ipt
		border: solid 1px #767676

// --------------------------------
$w-btn: 80px
.filesbox-ready
	display: flex
	align-items: center

	& > * 
		font-size: 16px

.filesbox-item
	margin-right: 12px
	// width: calc( 100% - #{$w-btn} )

.filesbox-btn
	// width: $w-btn

