doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title zipcode maker
		script(src='./assets/plugins/jquery/jquery-1.12.4-min.js')
		script(src='./js/zipcode_maker.js')
	body 